<h1>Kính gửi DVKH,</h1>

<h2>OCB OMNI đã nhận được phản hồi từ khách hàng lúc </h2><h1>${dateTime}</h1><h2> với nội dung sau:</h2>
<h4>1.	Vấn đề: </h4><h1>${title}</h1>
<h4>2.	Nội dung cần hỗ trợ thêm: </h4><h1>${contents}</h1>
<h4>3.	File đính kèm: </h4><h1>${attachment}</h1>

<h4>Vui lòng xem xét và hồi đáp cho KH theo địa chỉ email: </h4><h1>${mailUser}</h1>

<h2>Trân trọng,</h2>
<h1>OCB OMNI team</h1>
 
